.cart-component{
    width: 350px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 111111111;
    transition: all .3s ease;
    right: -100%;
    box-shadow: 0px 0px 7px  0 #ccc;
    &.show{
        right: 0;
    }
    .cart-header{
        padding: 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        span{
            font-family: "Plus Jakarta Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 28px;
            color: #1E1C1A;
        }
        button{
            color: white;
            font-size: 18px;
            padding: 7px 15px;
        }
    }
}