@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Bebas Neue', cursive;
}

:root{
    --color-white: #fff;
    --color-dark: #1E1C1A;
    --color-shining: #FFFDF9;
    --color-primary: #D99655;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 0 auto;
    max-width: calc(1170px + 80px);
    padding-inline: 40px;
}
.container-fluid{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding-inline: 20px;
}

@media only screen and (max-width: 426px) {
    .container{
        padding-inline: 20px;
    }
    .container-fluid{
        padding-inline: 10px;
    }
}

hr{
    opacity: 0.2;
}
.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-10{
    margin-bottom: 10px;
}
img{
    width: 100%;
}
button{
    background-color: #ccc;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
}
.text-center{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col-1{
    width: calc(100% / 12);
}
.col-2{
    width: calc(100% / 6);
}
.col-3{
    width: calc(100% / 4);
}
.col-4{
    width: calc(100% / 3);
}
.col-5{
    width: calc(100% / (12 / 5));
}
.col-6{
    width: calc(100% / 2);
}
.col-7{
    width: calc(100% / (12 / 7));
}
.col-8{
    width: calc(100% / (12 / 8));
}
.col-9{
    width: calc(100% / (12 / 9));
}
.col-10{
    width: calc(100% / (12 / 10));
}
.col-11{
    width: calc(100% / (12 / 11));
}
.col-12{
    width: 100%;
}

.row div[class^=col-]{
    padding: 10px;
}
