@import 'normalize.css';
@import 'CustomLib';
@import 'Variables';

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 0 auto;
    max-width: calc(1170px + 80px);
    padding-inline: 40px;
}
.container-fluid{
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding-inline: 20px;
}

@media only screen and (max-width: 426px) {
    .container{
        padding-inline: 20px;
    }
    .container-fluid{
        padding-inline: 10px;
    }
}

hr{
    opacity: 0.2;
}
.mt-100{
    margin-top: 100px;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.m-0{
    margin: 0 !important;
}
.mb-0{
    margin: 0 !important;
}
img{
    width: 100%;
}
button{
    background-color: #ccc;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
}
.text-center{
    text-align: center;
}
.wrapper-app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.w-100{
    width: 100%;
}