.home{
    margin-top: 140px;
    .section {
        padding-bottom: 70px;
        .title{
            p{
                font-family: 'Plus Jakarta Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #504C48;
            }
        }
        .row{
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            .item{
                position: relative;
                width: 50%;
                &:nth-child(1){
                    padding-right: 20px;
                }
                &:nth-child(2){
                    padding-left: 20px;
                }
            }
            h1{
                position: absolute;
                bottom: 30px;
                left: 30px;
                font-family: 'Bebas Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 46px;
                color: #1E1C1A;
            }
        }
        .mySwiper{
            margin-top: 80px;
            .item{
                padding-bottom: 50px;
            }
        }
        &.offer{
            background-color: #1E1C1A;
            padding-top: 70px;
            padding-bottom: 0px;
            .inner-offer
            {
                max-width: 1957px;
                margin:0 auto;
            }
            .title{
                span, p{

                    font-family: 'Plus Jakarta Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #FFF0E3;
                }
                h1{
                    font-family: 'Bebas Neue';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 56px;
                    line-height: 60px;
                    color: #FFFFFF;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
                h4{
                    margin-bottom: 10px;
                    font-family: 'Plus Jakarta Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 28px;
                    color: #FFFFFF;
                }
            }
            .site-box-image{
                margin-top: 100px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                img{
                    margin-bottom: -7px;
                }
                div + div{
                    padding-left:30px;
                }
            }
        }
        &.brands{
            .item{
                padding-bottom: 0;
                height: 187px;
                background: #F6F6F8;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 142px;
                    height: 80px;
                }
            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .home{
        margin-top: 80px;
        .section {
            // padding-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 426px) {
    .home{
        margin-top: 80px;
        .section {
            .row{
                margin-top: 40px;
                flex-direction: column;
                .item{
                    width: 100%;
                    padding: 0 !important;
                    &:nth-child(2){
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}