.nav-bar{
    width: 100%;
    padding-top: 40px;
    position: fixed; 
    z-index: 111111;
    width: 100%;
    top: 0; 
    transition: all 0.1s ease;
    &.scroll{
        padding-top: 0;
        box-shadow: 0 0 10px 0 #d7d7d7;
        .wrapper{
            margin: 0;
            height: 70px !important;
        }
    }

    
}

.logo{
    width: 85px;
    height: 41px;
}

// @media only screen and (max-width: 768px) {
//     .nav-bar{
//         .wrapper{
//            margin: 0 83px;
//         background-color:rgb(255, 255, 255);
//         height: 100px !important;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 0 41px;
//         transition: all 0.2s ease;
//         }
//     }
// }