.item{
    h3{
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #1E1C1A;
    }
    h3 + .ant-card-bordered {
        border: 1px solid transparent !important;
    }
}