.products{
    margin-top: 50px !important;
    .header-products{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        padding: 0 10px 20px 10px;
        .sort{
            border: 1px solid #ccc;
            width: 200px;
            cursor: pointer;
            position: relative;
            user-select: none;
            .sort-title{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 10px;
                .icon-sort{
                    color: var(--color-dark);
                }
            }
            .sort-by{
                z-index: 111;
                position: absolute;
                top: 101%;
                width: 101%;
                left: -1px;
                border: 1px solid rgba(34, 36, 38, 0.15);
                border-top-color: rgba(34, 36, 38, 0.15);
                border-top-style: solid;
                border-top-width: 1px;
                border-top: 0;
                box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
                background-color: white;
                li{
                    padding: 10px;
                    &:hover{
                        background-color: rgb(238, 238, 238);
                    }
                }
                li + li{
                    border-top: 1px solid rgb(230, 230, 230);
                }
            }
        }
        .feature{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .filter-toggle{
        align-items: center;
        font-size: 16px;
        margin-right: 20px;
        padding-right: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
        &.active .filter-toggle-icon::after{
            box-shadow: #333333 8px 7px 0px 0px;
            transform: translate3d(3px, 1px, 0px);
        }
        .filter-toggle-text{
            user-select: none;
        }
        .filter-toggle-icon{
            width: 16px;
            margin-left: 20px;
            height: 16px;
            position: relative;
            display: block;
            &::before{
                content: "";
                color: #333333;
                width: 100%;
                height: 2px;
                background: #333333;
                box-shadow: #333333 0px 7px 0px 0px;
                display: block; 
                position: absolute;
                top: 3px;
                left: 0px;
            }
            &::after{
                content: "";
                color: #333333;
                width: 2px;
                height: 6px;
                background: #333333;
                box-shadow: currentcolor -8px 7px 0px 0px;
                transform: translate3d(11px, 1px, 0px);
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                transition: transform 200ms ease 0s, box-shadow 200ms ease 0s;
            }
        }
    }
    
    .product-list{
        display: flex;
        transform: translate3d(3px, 1px, 0px);
        .filter{
            width: 340px;
            padding-right: 20px;
            padding-left: 10px;
            transition: all .3s ease;
            .filter-item > div{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 10px 0;
                .icon-sort{
                    color: var(--color-dark);
                }
            }
            .filter-item + .filter-item{
                border-top: 1px solid #ccc;
            }
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            transition: all .3s ease;
        }
    }
}